/* boder radius */
.gBorderRadius {
  /* border-radius: 94% 6% 95% 5% / 5% 95% 6% 94%; */
}

.log-btn {
  /* border-radius: 94% 6% 95% 5% / 7% 95% 7% 94%; */
}

/* Global CSS */
.cursor-pointer {
  cursor: pointer;
}

/* Card Style */
.card-style {
  min-height: 14rem;
}

.myLoaderBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    232,
    65,
    24,
    0.2
  ); /* Change the background color and opacity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set an appropriate z-index to ensure it overlays other content */
}
